# Express Backend Environment Variables

# Server Port
PORT=

# MongoDB Connection
# Option 1: Local MongoDB
# MONGODB_URI=mongodb://localhost:27017

# Option 2: MongoDB Atlas (Recommended)
MONGODB_URI=

# Database Configuration
DB_NAME=
USERS_COLLECTION=

# JWT Secret (REQUIRED - Generate with: openssl rand -hex 64)
JWT_SECRET=

# Frontend URL (for CORS)
FRONTEND_URL=

#If you want to allow user registration, set the variable to true
CAN_REGISTER_USER=

#If you want to create default admin user, set the variable to true
CREATE_DEFAULT_ADMIN=

